body {
    margin: 0;
    padding: 0;
 }

 body * {
    box-sizing: border-box;
 }

 a {
   text-decoration: none;
 }
 @font-family: 'Yeseva One', cursive;
 @font-family: 'Nunito Sans', sans-serif;


 .header {
    margin: 0 auto;
    background: #131313;
    
 }
 .container {
   max-width: 1440px;
   margin: 0 auto;
   max-width: 1440px;
 }

 .container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 89px 22px 92px;
    max-width: 1263px;
 }

 .logo_text1 {
    font-family: 'Nunito Sans'Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
 }

.nav_item {
    list-style: none;
    margin-right: 47px;
 }
 #other_color {
    color: #E3B873;
 }
 
 .nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
 }

 .a-text {
    text-decoration: none;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
 }

 
 .phone {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
 }

 .button-header {
    padding: 13px 33px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border: 0;
    outline: 0;
    border-radius: 2px;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
 }

 .bg1 {
    background-image: url(./image/bg1.jpg);
    position: relative;
    background-size: cover;
    height: 707px;
 }

 .overlay1 {
    position: relative;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
 }
 
 .title1 {
    font-family: 'Yeseva One','Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
 }

 .infobox1 {
    margin-top: 0;
    padding-top: 194px;
 }

 .infobox {
   margin-left: 89px;
 }

 .title2 {
    font-family: 'Nunito Sans',Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    max-width: 500px;
 }

 .text_Rostov {
    color: #E3B873;
 }
 
 .button1_infobox {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    border: 0;
    outline: 0;
    padding: 19px 42px 21px 42px;
    margin-right: 20px;
 }
 .button2_infobox {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 2px;
    padding: 19px 42px 21px 42px;
    margin-right: 20px;
    background: none;
 }



 .section {
   max-width: 1440px;
 }  

 .bg2 {
   background: #131313;
   position: relative;
   z-index: 1;
 }

 .text-ul-infox2 {
   margin: 0;
   display: flex;
   justify-content: flex-end;
   list-style: none;
   font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   text-transform: uppercase;
   color: #E3B873;
 }

 .town_item a {
   font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   text-transform: uppercase;
   color: rgba(255, 255, 255, 0.3);
   margin-right: 60.5px;
   padding-bottom: 6.6px ;
 }

 .town_item a:hover {
   border-bottom: 1px solid #E3B873;
 }

 .infobox2 {
   margin: 107px auto 414px 89px;
 }

 .main_info2 {
   margin-top: 45.3px;
   display: flex;
   justify-content: space-between;
   
 }
  
 .image2 {
   width: 679px;
   height: 489px;
 }

 .title_completed {
   max-width: 253px;
   margin: 0;
   font-family: 'Yeseva One', 'Times New Roman', Times, serif;
   font-style: normal;
   font-weight: 400;
   font-size: 27px;
   line-height: 37px;
   letter-spacing: -0.07em;
   text-transform: uppercase;
   color: #E3B873;
 }
 
 .text-left-box {
   margin: 0;
   max-width: 440px;
 }

 .text-left-box p {
   font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 27px;
   color: #FFFFFF;
   margin-top: 0;
   margin-bottom:0 ;
 }

 .box-information {
   display: grid;
   grid-template-columns: 190px 190px;
   margin-top: 42px;
 }

 container h3 {
   font-family: 'Yeseva One';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 25px;
   text-transform: uppercase;
   color: #E3B873;
   margin: 0;
   padding: 0;
 }

 container span {
   margin-top: 9px;
   padding: 0;
   font-family: 'Nunito Sans',Arial, Helvetica, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 21px;
   color: #FFFFFF;
   display: flex;
   align-items: end;
 }

 .m2 {
   font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 21px;
   color: #FFFFFF;
   opacity: 0.3;
 }
 
 .block1 {
   max-width: 440px;
  }

  .box-information container {
   margin-top: 34px;
  }




  .arrow {
   display: flex;
   justify-content: space-between;
   margin-top: 79px;
   margin-right: 285px;
  }

  .arrow img {
   margin-right: 29px;
  }

   
  .section3 {
   background: #FFFFFF;
   position: relative;
   z-index: 2;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
  }

  .center_title {
   font-family: 'Yeseva One';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 28px;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   margin: 0;
   padding: 0;
  }
  
  .image_camera {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 12.7px;
   margin-bottom: 31px;
  }

  .image_camera img {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 8px;
  }

  .infobox3 {
   top: -324px;
   position: absolute;
   z-index: 2;
   display: inline;
   justify-content: center;
   align-items: center;
  }

  .image3 {
   background-image: url(./image/image3.jpg);
   background-size: cover;
   position: relative;
   z-index: 3;
   width: 817px;
   height: 434px;
   box-shadow: 3px 3px 15px black;
   margin: auto auto;
  }
  
  .overlay2 {
   margin: auto auto;
   background-color: rgba(0, 0, 0, 0.7);
   background-size: cover;
   width: 817px;
   height: 434px;
  }

  .btn_play-video {
   position: absolute;
   z-index: 3;
   width: 85px;
   height: 85px;
   background: #E3B873;
   border: 0;
   outline: 0;
   border-radius: 50% 50%;
   position: absolute;
   margin: 174px 365px;
  }

  .btn_play-video img {
   margin: 28px 29px;
   }

   .line {
      margin-top: 62.5px;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .text-section3 {
      margin: auto auto;
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 37px;
      text-align: center;
      color: #363636;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 680px;
   }

   .div_input_box {
      margin: 91px auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
   }

   
   .inp {
      display: grid;
      grid-template-rows: max-content;
      border: 0;
   }

   input {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom:  1px solid rgba(54, 54, 54, 0.3);
      width: 230px;
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 23px;
      color: #363636;
   }
   
   
   .text_input {
      font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 21px;
      color: rgba(54, 54, 54, 0.5);
   }

   


  